PORT=5000
MONGODB_URI=mongodb+srv://suditishekar_db_user:password@zorvyn.ogggzt0.mongodb.net/?appName=Zorvyn
POSTGRES_URL=postgresql://postgres:password@localhost:5432/finance
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d
NODE_ENV=development